body {
    background-color: grey;
}

/* Book Glossary Container */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Book Card Styles */
.book-card {
    display: grid;
    margin-top: 10px;
    padding: 20px;
    background-color: yellow;
}

.book-card .description > p {
    padding-bottom: 10px;
    border-bottom: 1px black solid;
}

.book-card .action-btns {
    margin: 10px 0px;
}


.book-card .hidden{
    display: none;
}